$background:#f5f1e7;;

.link {
    text-decoration: none;
    color: inherit;
    }

    h1{
        font-size: 20px;
        color:black;
        margin-bottom: 20px;
    }

    button{
        background-color: black;
        color:white;
        padding: 1vh;
        cursor: pointer;
    }

    
    
    .home{
        // background-color: $background;

        .posts{
            margin-top: 10px;
            // background-color:$background;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // gap:150px;
            // height: 50rem;
        }

        .post{
            margin: 140px;
            margin-bottom: 50px;
            margin-top: 50px;
            gap:50px;
            display: flex;
            border-bottom: 1px solid rgb(155, 155, 158);
            justify-content: center;

        }

        .link{
            text-decoration: none;
        }

        .img{
            
            .img{
                width: 100%;
                max-width: 400px;
                object-fit: cover;                    
            }

        }
        
        .content{
            flex:2;
            justify-content: center;
        }

        button{
            margin-top: 20px;
        }
    }
